version: '3.7'

services:
    mongodb:
        image: mongo
        ports:
            - "27017:27017"
        volumes:
            - /var/lib/mongodb:/var/lib/mongodb

    smtp4dev:
        image: rnwood/smtp4dev:linux-amd64-3.1.0-ci0856
        ports:
            - "3000:80"
            - "2525:25"