.monaco-editor-host {
  display: block;
  position: relative;
  min-height:6em;
}

.monaco-editor-container {
  position:absolute; left:0; top:0;
  width:100%; height:100%; max-height:100% !important;
  margin:0; padding:0;
  overflow:hidden;
}
