$activity-picker-width: 300px;
$trigger-panel-height: 76px;
$activity-editor-width: 500px;

elsa-canvas {
  left: $activity-picker-width;
  top: $trigger-panel-height;
  right: $activity-editor-width;
  bottom: 0;
}

elsa-panel.elsa-trigger-container {
  left: $activity-picker-width;
  right: $activity-editor-width;
}

elsa-panel.panel-state-expanded.elsa-trigger-container {
  left: $activity-picker-width;
  right: $activity-editor-width;
  height: $trigger-panel-height;
}

elsa-panel.panel-state-expanded.elsa-activity-picker-container {
  width: $activity-picker-width;
}

elsa-panel.panel-state-expanded.elsa-activity-editor-container {
  width: $activity-editor-width;
  right: 0;
  left: unset;
}

.activity-picker-closed {

  .activity-list {
    display: none;
  }

  elsa-canvas {
    left: 0;
  }

  elsa-panel.elsa-trigger-container {
    left: 0;
  }
}

.trigger-container-closed {

  elsa-canvas {
    top: 0;
  }

  elsa-trigger-container {
    display: none;
  }
}

.object-editor-closed {

  .object-editor-container {
    display: none;
  }

  elsa-canvas {
    right: 0;
  }

  elsa-panel.elsa-trigger-container {
    right: 0;
  }
}
