.sidebar {
  .sidebar-inner > li > .sidenav-item-link {
    padding: 1.25rem 1.56rem;
    line-height: 20px;
    color: #a6aab4;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    white-space: nowrap;
  }

  .nav > li > .sidenav-item-link i {
    float: left;
    margin-right: 0.94rem;
    width: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 1.5rem;
  }
}
