@model ActivityShapeModel<CronTrigger>
@{
    var activityDescriptor = Model.Activity.Descriptor;
}
<h4 class="card-title"><i class="fas fa-globe"></i>@activityDescriptor.DisplayText</h4>
<p>@activityDescriptor.Description</p>