@model Elsa.Web.ViewModels.ActivityShapeModel<Elsa.Activities.Console.Activities.WriteLine>

<header>
    <h4><i class="fa fa-pen"></i>@Model.DisplayText</h4>
    <i>&quot;@Model.Activity.TextExpression&quot;</i>
</header>