@model Elsa.Web.Activities.Console.ViewModels.WriteLineViewModel
<div class="form-group">
    <label asp-for="TextExpression">@T["Text Expression"]</label>
    <input asp-for="TextExpression" class="form-control"/>
</div>