<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Elsa Workflows 3.0</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="https://unpkg.com/@@elsa-workflows/elsa-workflows-designer@3.0.2-preview.2/dist/elsa-workflows-designer/elsa-workflows-designer.css">
</head>
<body>

@RenderBody()

<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.31.1/min/vs/loader.min.js"></script>
<script type="module" src="https://unpkg.com/@@elsa-workflows/elsa-workflows-designer@3.0.2-preview.2/dist/elsa-workflows-designer/elsa-workflows-designer.esm.js"></script>
</body>
</html>