<!--

=========================================================
* Argon Dashboard - v1.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-dashboard
* Copyright 2019 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md)

* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Elsa Dashboard
    </title>
    <!-- Favicon -->
    <link href="~/assets/img/brand/favicon.png" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="~/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet"/>
    <link href="~/assets/js/plugins/@@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet"/>
    <!-- CSS Files -->
    <link href="~/assets/css/argon-dashboard.css?v=1.1.0" rel="stylesheet"/>
    <link href="~/assets/css/elsa.css?v=1.1.0" rel="stylesheet"/>
    <script src='https://unpkg.com/@@elsa-workflows/elsa-workflow-designer@0.0.39/dist/elsa-workflow-designer.js'></script>
    @await RenderSectionAsync("HeadScripts", false)
</head>

<body>
@await Html.PartialAsync("SideBar")
<div class="main-content">
    @await Html.PartialAsync("TopBar")
    <!-- End Navbar -->
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->

        @await Html.PartialAsync("Notifications")
        @await RenderSectionAsync("ContentHeader", false)
    </div>
    <!-- Page content -->
    @RenderBody()
</div>
<!--   Core   -->
<script src="~/assets/js/plugins/jquery/dist/jquery.min.js"></script>
<script src="~/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@await RenderSectionAsync("FootScripts", false)
</body>

</html>