@model WorkflowDefinitionViewModel
@{
    var formAction = Model.WorkflowDefinition == null ? "Create" : "Edit";
    var name = Model.WorkflowDefinition?.Name ?? "New Workflow";
}
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">@name</h3>
                        </div>
                        <div class="col-4 text-right">
                            <a href="#!" class="btn btn-primary" onclick="addActivity()">Add Activity</a>
                            <a href="#!" class="btn btn-secondary" onclick="exportWorkflow()">Download</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-action="@formAction">
                        <input asp-for="Json" id="workflowData" type="hidden"/>
                        <wf-designer-host id="designerHost" canvas-height="300vh"></wf-designer-host>
                        <div class="text-center">
                            <button asp-for="SubmitAction" type="submit" value="draft" class="btn btn-primary mt-4">Save Draft</button>
                            <button asp-for="SubmitAction" type="submit" value="publish" class="btn btn-success mt-4">Publish</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("Footer")
</div>