<!-- Footer -->
<footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
                &copy; 2019 <a href="https://github.com/sfmskywalker" class="font-weight-bold ml-1" target="_blank">sfmskywalker</a>
            </div>
        </div>
        <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                <li class="nav-item">
                    <a href="https://github.com/elsa-workflows/elsa-core" class="nav-link" target="_blank">GitHub</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" target="_blank">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/elsa-workflows/elsa-core/blob/develop/LICENSE" class="nav-link" target="_blank">BSD 3-Clause License</a>
                </li>
            </ul>
        </div>
    </div>
</footer>