<!-- Navbar -->
<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
    <div class="container-fluid">
        <!-- Brand -->
        <span class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block">@ViewBag.Title</span>
        
        @await Html.PartialAsync("UserMenu")
    </div>
</nav>