@tailwind base;
@tailwind components;
@tailwind utilities;

#blazor-error-ui {
    display: none;
}

#workflow-canvas{
    background-image: url(tile.png);
    background-repeat: repeat;
    background-size: 30px 30px;
    background-color: #FBFBFB;
}

div.canvas {
    position: relative;
    margin: 0 auto;
}

div.tree {
    white-space: nowrap;
    padding-bottom: 30px;
}

.tree ul {
    @apply pt-6;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree ul.root {
    @apply pt-0;
}

.tree li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
}

.tree li::before,
.tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    width: 50%;
    height: 20px;
}

.tree li::after {
    right: auto;
    left: 50%;
}

.tree li:only-child::after,
.tree li:only-child::before {
    display: none;
}

.tree li:only-child {
    padding-top: 0;
}

.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;
}

.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 20px;
}

.activity {
    min-width: 316px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    white-space: normal;
    display: inline-block;
}

svg.jtk-connector path {
    @apply stroke-current;
    @apply text-gray-400;
}

elsa-workflow-editor .workflow-settings-button {
    top: 6rem;
}