@model ActivityShapeModel<ReadLine>
@{
    var activityDescriptor = Model.Activity.Descriptor;
}
<h4 class="card-title"><i class="fa fa-glasses"></i>@activityDescriptor.DisplayText</h4>
<p>@activityDescriptor.Description</p>