<!-- ### $Sidebar Menu ### -->
<ul class="sidebar-menu scrollable pos-r">
  <li class="nav-item mT-30 active">
      <a class="sidebar-link" href="~/workflows">
          <span class="icon-holder">
              <i class="c-blue-500 ti-home"></i>
          </span>
          <span class="title">Workflows</span>
      </a>
  </li>
  <li class="nav-item">
      <a class='sidebar-link' href="forms.html">
          <span class="icon-holder">
              <i class="c-light-blue-500 ti-pencil"></i>
          </span>
          <span class="title">Forms</span>
      </a>
  </li>
  <li class="nav-item dropdown">
      <a class="sidebar-link" href="ui.html">
          <span class="icon-holder">
              <i class="c-pink-500 ti-palette"></i>
          </span>
          <span class="title">UI Elements</span>
      </a>
  </li>
  <li class="nav-item dropdown">
      <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
              <i class="c-orange-500 ti-layout-list-thumb"></i>
          </span>
          <span class="title">Tables</span>
          <span class="arrow">
              <i class="ti-angle-right"></i>
          </span>
      </a>
      <ul class="dropdown-menu">
          <li>
              <a class='sidebar-link' href="basic-table.html">Basic Table</a>
          </li>
          <li>
              <a class='sidebar-link' href="datatable.html">Data Table</a>
          </li>
      </ul>
  </li>
  <li class="nav-item dropdown">
      <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
              <i class="c-red-500 ti-files"></i>
          </span>
          <span class="title">Pages</span>
          <span class="arrow">
              <i class="ti-angle-right"></i>
          </span>
      </a>
      <ul class="dropdown-menu">
          <li>
              <a class='sidebar-link' href="blank.html">Blank</a>
          </li>                 
          <li>
              <a class='sidebar-link' href="404.html">404</a>
          </li>
          <li>
              <a class='sidebar-link' href="500.html">500</a>
          </li>
          <li>
              <a class='sidebar-link' href="signin.html">Sign In</a>
          </li>
          <li>
              <a class='sidebar-link' href="signup.html">Sign Up</a>
          </li>
      </ul>
  </li>
  <li class="nav-item dropdown">
      <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
              <i class="c-teal-500 ti-view-list-alt"></i>
          </span>
          <span class="title">Multiple Levels</span>
          <span class="arrow">
              <i class="ti-angle-right"></i>
          </span>
      </a>
      <ul class="dropdown-menu">
          <li class="nav-item dropdown">
              <a href="javascript:void(0);">
                  <span>Menu Item</span>
              </a>
          </li>
          <li class="nav-item dropdown">
              <a href="javascript:void(0);">
                  <span>Menu Item</span>
                  <span class="arrow">
                      <i class="ti-angle-right"></i>
                  </span>
              </a>
              <ul class="dropdown-menu">
                  <li>
                      <a href="javascript:void(0);">Menu Item</a>
                  </li>
                  <li>
                      <a href="javascript:void(0);">Menu Item</a>
                  </li>
              </ul>
          </li>
      </ul>
  </li>
</ul>