@page
@model PrivacyModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Workflow Designer";
}

@section Styles
{
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="https://unpkg.com/@@elsa-workflows/elsa-workflows-designer@3.0.0/dist/elsa-workflows-designer/elsa-workflows-designer.css">
}

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.31.1/min/vs/loader.min.js"></script>
    <script type="module" src="https://unpkg.com/@@elsa-workflows/elsa-workflows-designer@3.0.0/dist/elsa-workflows-designer/elsa-workflows-designer.esm.js"></script>
}

<div>
    <!--Use the studio shell component to handle automatic interaction with the Elsa Server API-->
    <elsa-studio server="https://localhost:5001" monaco-lib-path="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.31.1/min">
        <elsa-workflow-toolbar></elsa-workflow-toolbar>
        <div class="absolute inset-0" style="top: 121px;">
          <elsa-workflow-editor></elsa-workflow-editor>
        </div>
    </elsa-studio>
</div>