<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <clear />
        <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
        <add key="Elsa 3 Preview" value="https://f.feedz.io/elsa-workflows/elsa-3/nuget/index.json" />
        <add key="Webhooks Core Preview" value="https://f.feedz.io/sfmskywalker/webhooks-core/nuget/index.json" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="NuGet official package source">
            <package pattern="*" />
        </packageSource>
        <packageSource key="Elsa 3 Preview">
            <package pattern="Elsa" />
            <package pattern="Elsa.*" />
            <package pattern="Elsa.Studio.*" />
        </packageSource>
        <packageSource key="Webhooks Core Preview">
            <package pattern="WebhooksCore" />
            <package pattern="WebhooksCore.*" />
        </packageSource>
    </packageSourceMapping>
</configuration>