<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <clear />
        <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
        <add key="cshells-feedz" value="https://f.feedz.io/sfmskywalker/cshells/nuget/index.json" />
        <add key="elsa-preview-feedz" value="https://f.feedz.io/elsa-workflows/elsa-3/nuget/index.json" />
        <add key="valence-consolelogstream-feedz" value="https://f.feedz.io/valence-works/consolelogstream/nuget/index.json" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="NuGet official package source">
            <package pattern="*" />
        </packageSource>
        <packageSource key="cshells-feedz">
            <package pattern="CShells" />
            <package pattern="CShells.*" />
        </packageSource>
        <packageSource key="elsa-preview-feedz">
            <package pattern="Elsa.PackageManifest.Generator" />
            <package pattern="Elsa.PackageManifests" />
        </packageSource>
        <packageSource key="valence-consolelogstream-feedz">
            <package pattern="ConsoleLogStream" />
            <package pattern="ConsoleLogStream.*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
