<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <clear />
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
        <add key="WebPortal" value="http://azure:8080/tfs/nicetec/_packaging/WebPortal/nuget/v3/index.json" />
    </packageSources>
</configuration>