<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <clear />
        <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
        <add key="CShells" value="https://f.feedz.io/sfmskywalker/cshells/nuget/index.json" />
        <add key="Nuplane" value="https://f.feedz.io/valence-works/nuplane/nuget/index.json" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="NuGet official package source">
            <package pattern="*" />
        </packageSource>
        <packageSource key="CShells">
            <package pattern="CShells" />
            <package pattern="CShells.*" />
        </packageSource>
        <packageSource key="Nuplane">
            <package pattern="Nuplane" />
            <package pattern="Nuplane.*" />
        </packageSource>
    </packageSourceMapping>
</configuration>