@page "/"
@namespace ElsaDashboard.Samples.BlazorServer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ElsaDashboard.Samples.BlazorServer</title>
    <base href="~/"/>
    <link rel="icon" type="image/png" sizes="32x32" href="https://unpkg.com/@@elsa-workflows/elsa-workflows-studio@2.0.0/dist/elsa-workflows-studio/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://unpkg.com/@@elsa-workflows/elsa-workflows-studio@2.0.0/dist/elsa-workflows-studio/assets/images/favicon-16x16.png">
    <link rel="stylesheet" href="https://unpkg.com/@@elsa-workflows/elsa-workflows-studio@2.0.0/dist/elsa-workflows-studio/assets/fonts/inter/inter.css">
    <link href="https://unpkg.com/@@elsa-workflows/elsa-workflows-studio@2.0.0/dist/elsa-workflows-studio/assets/styles/tailwind.css" rel="stylesheet">
    <script src="https://unpkg.com/browse/monaco-editor/min/vs/loader.js"></script>
    <script type="module" src="https://unpkg.com/@@elsa-workflows/elsa-workflows-studio@2.0.0/dist/elsa-workflows-studio/elsa-workflows-studio.esm.js"></script>
</head>
<body>
<component type="typeof(App)" render-mode="ServerPrerendered"/>
<script src="_framework/blazor.server.js"></script>
</body>
</html>