@model Elsa.Web.ViewModels.ActivityShapeModel<Elsa.Activities.Primitives.Activities.Fork>
@{
    var activityDescriptor = Model.Activity.Descriptor;
}
<h4 class="card-title"><i class="far fa-code-fork"></i>@activityDescriptor.DisplayText</h4>
<p>@activityDescriptor.Description</p>