@model ActivityShapeModel<Join>
@{
    var activityDescriptor = Model.Activity.Descriptor;
}
<h4 class="card-title"><i class="fas fa-code-branch"></i>@activityDescriptor.DisplayText</h4>
<p>@activityDescriptor.Description</p>