@model ActivityShapeModel<SetVariable>
@{
    var activityDescriptor = Model.Activity.Descriptor;
}
<h4 class="card-title"><i class="fas fa-pencil-alt"></i>@activityDescriptor.DisplayText</h4>
<p>@activityDescriptor.Description</p>