@model ActivityShapeModel<SetVariable>

<header>
    <h4><i class="fas fa-pencil-alt"></i>@Model.DisplayText</h4>
    <i>@($"{Model.Activity.VariableName} = {Model.Activity.ValueExpression}")</i>
</header>