@model Elsa.Web.ViewModels.ActivityShapeModel<Elsa.Activities.Primitives.Activities.SetVariable>
@{
    var activityDescriptor = Model.Activity.Descriptor;
}
<h4 class="card-title"><i class="fa fa-gem"></i>@activityDescriptor.DisplayText</h4>
<p>@activityDescriptor.Description</p>