@using OrchardCore.Mvc.Core.Utilities

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">@Url.GetBaseUrl()</span>
    </div>
    @Html.TextBox(null, ViewData.ModelExplorer.Model, new { @class="form-control", type="text" })
</div>