@using Humanizer
<div class="py-6 space-y-6 sm:py-0 sm:space-y-0 sm:divide-y sm:divide-gray-200">
    
    @foreach (var property in ActivityDescriptor.Properties)
    {
        var controlId = property.Name.ToLowerInvariant().Underscore();
        
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
            <div>
                <label for="@controlId" class="block text-sm font-medium leading-5 text-gray-900 sm:mt-px sm:pt-2">
                    @property.Label
                </label>
            </div>
            <div class="sm:col-span-2">
                <div class="rounded-md shadow-sm">
                    <input id="@controlId" class="form-input block w-full sm:text-sm sm:leading-5" placeholder="">
                </div>
                @if (!string.IsNullOrWhiteSpace(property.Hint))
                {
                    <p class="mt-2 text-sm text-gray-500">@property.Hint</p>
                }
            </div>
        </div>    
    }
</div>