<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    <span data-feather="home"></span>
                    Dashboard <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Definitions" asp-controller="Workflows" asp-area="Elsa.Web.Management">
                    <span data-feather="file"></span>
                    @T["Workflows"]
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="layers"></span>
                    Settings
                </a>
            </li>
        </ul>
    </div>
</nav>