@model Flowsharp.Web.Management.ViewModels.CommonActivityViewModel

<div class="form-group">
    <label asp-for="Title">@T["Title"]</label>
    <input asp-for="Title" class="form-control"/>
    <span asp-validation-for="Title" class="text-danger"></span>
    <small class="form-text text-muted">@T["Enter a title to display on the activity on the designer"]</small>
</div>