@page "/workflow-registry/{workflowDefinitionId}/viewer"
<div class="flex-0 border-b border-gray-200 px-4 py-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8">
    <div class="flex-1 min-w-0">
        <h1 class="text-lg font-medium leading-6 text-gray-900 sm:truncate">
            Workflow Viewer
        </h1>
    </div>
    <div class="mt-4 flex sm:mt-0 sm:ml-4">
        <span class="order-0 sm:order-1 sm:ml-3 shadow-sm rounded-md">
            <button type="button" class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-blue-500 hover:bg-blue-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-700 active:bg-blue-700 transition duration-150 ease-in-out">
                Print
            </button>
        </span>
    </div>
</div>
<WorkflowDesigner Model="WorkflowModel" />