@page
<!--Use the studio shell component to handle automatic interaction with the Elsa Server API-->
<elsa-studio server="/elsa/api" monaco-lib-path="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.31.1/min">
    <elsa-workflow-toolbar></elsa-workflow-toolbar>
    <div class="absolute inset-0" style="top: 64px;">
        <elsa-workflow-editor></elsa-workflow-editor>
    </div>
</elsa-studio>