@using NodaTime
@inherits ActivityDisplayComponent

<p>Start At <a href="#" class="font-medium border-b border-solid border-gray-200 text-black">@(DisplayContext.Properties.Get<Instant>("Instant"))</a></p>