@using NodaTime
@inherits ActivityDisplayComponent

<p>Every <a href="#" class="font-medium border-b border-solid border-gray-200 text-black">@(DisplayContext.Properties.Get<Duration>("Timeout"))</a></p>