<div x-show="open" x-data="{ open: true }" x-on:keydown.window.escape="open = false"
     class="fixed inset-0 overflow-hidden">
    <div class="absolute inset-0 overflow-hidden">
        <section x-on:click.away="open = false" class="absolute inset-y-0 right-0 pl-10 max-w-md md:max-w-full flex sm:pl-16">
            <div class="w-screen max-w-2xl" x-description="Slide-over panel, show/hide based on slide-over state."
                 x-show="open" x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700"
                 x-transition:enter-start="translate-x-full" x-transition:enter-end="translate-x-0"
                 x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700"
                 x-transition:leave-start="translate-x-0" x-transition:leave-end="translate-x-full">
                <div class="h-full flex flex-col bg-white shadow-xl overflow-y-scroll">
                    <div class="flex-1">
                        <!-- Header -->
                        <header class="p-6">
                            <div class="flex items-start justify-between space-x-3">
                                <h2 class="text-lg leading-7 font-medium text-gray-900">
                                    Activities
                                </h2>
                                <div class="h-7 flex items-center">
                                    <button @click="open = false; setTimeout(() => open = true, 1000);" aria-label="Close panel" class="text-gray-400 hover:text-gray-500 transition ease-in-out duration-150">
                                        <svg class="h-6 w-6" x-description="Heroicon name: x" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </header>

                        <div class="p-6">
                            <div class="relative rounded-md shadow-sm">
                                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                    <svg class="h-6 w-6 text-gray-400" width="24" height="24" viewBox="0 0 24 24"
                                         stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                         stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"/>
                                        <circle cx="10" cy="10" r="7"/>
                                        <line x1="21" y1="21" x2="15" y2="15"/>
                                    </svg>
                                </div>
                                <input id="email" class="form-input block w-full pl-10 sm:text-sm sm:leading-5" placeholder="Search activities">
                            </div>
                        </div>

                        <div class="border-b border-gray-200">
                            <div class="px-6">
                                <nav class="-mb-px flex space-x-6" x-descriptions="Tab component">
                                    <a href="#" class="whitespace-no-wrap pb-4 px-1 border-b-2 border-blue-500 font-medium text-sm leading-5 text-blue-600 focus:outline-none focus:text-blue-800 focus:border-blue-700" aria-current="page">All</a>
                                    <a href="#" class="whitespace-no-wrap pb-4 px-1 border-b-2 border-transparent font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300">Actions</a>
                                    <a href="#" class="whitespace-no-wrap pb-4 px-1 border-b-2 border-transparent font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300">Triggers</a>
                                </nav>
                            </div>
                        </div>

                        <div class="p-6 space-y-6 overflow-y-auto">

                            <div>
                                <h2>Primitives</h2>

                                <ul class="grid grid-cols-1 gap-4 mt-3" x-max="1">
                                    <li class="relative col-span-1 flex shadow-sm rounded-md">
                                        <div
                                            class="flex-shrink-0 flex items-center justify-center w-16 bg-blue-600 text-white text-sm leading-5 font-medium rounded-l-md">
                                            <svg class="h-10 w-10 text-white" fill="none" viewBox="0 0 24 24"
                                                 stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                            </svg>
                                        </div>
                                        <div class="flex-1 flex items-center justify-between border-t border-r border-b border-gray-200 bg-white rounded-r-md">
                                            <div class="flex-1 px-4 py-2 text-sm leading-5">
                                                <a href="#" class="text-gray-900 font-medium hover:text-gray-600 transition ease-in-out duration-150">
                                                    Timer
                                                </a>
                                                <p class="text-gray-500">Trigger the workflow at the specified time interval.</p>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>

                            <div>
                                <h2>Primitives</h2>

                                <ul class="grid grid-cols-1 gap-4 mt-3" x-max="1">
                                    <li class="relative col-span-1 flex shadow-sm rounded-md">
                                        <div
                                            class="flex-shrink-0 flex items-center justify-center w-16 bg-blue-600 text-white text-sm leading-5 font-medium rounded-l-md">
                                            <svg class="h-10 w-10 text-white" fill="none" viewBox="0 0 24 24"
                                                 stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                      d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                            </svg>
                                        </div>
                                        <div
                                            class="flex-1 flex items-center justify-between border-t border-r border-b border-gray-200 bg-white rounded-r-md">
                                            <div class="flex-1 px-4 py-2 text-sm leading-5">
                                                <a href="#"
                                                   class="text-gray-900 font-medium hover:text-gray-600 transition ease-in-out duration-150">
                                                    Timer
                                                </a>
                                                <p class="text-gray-500">Trigger the workflow at the specified time
                                                    interval.</p>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>