@model WorkflowEditorViewModel

<div class="workflow-canvas">
    @foreach (var activityShape in Model.ActivityShapes)
    {
        @await DisplayAsync(activityShape)
    } 
</div>

<style asp-name="flowsharp-editor-style" asp-src="~/Flowsharp.Web.ViewComponents/styles.css"></style>
<script asp-name="flowsharp-editor-script" asp-src="~/Flowsharp.Web.ViewComponents/scripts.js" depends-on="jQuery" at="Foot"></script>