@model WorkflowEditorViewModel

<div>
    <div class="workflow-canvas">
        @foreach (var activityShape in Model.ActivityShapes)
        {
            @await DisplayAsync(activityShape)
        } 
    </div>
</div>

<style asp-name="flowsharpeditorstyle" asp-src="~/Flowsharp.Web.ViewComponents/styles.css"></style>
<script asp-name="flowsharpeditorscript" asp-src="~/Flowsharp.Web.ViewComponents/scripts.js" depends-on="jQuery" at="Foot"></script>