@model WorkflowEditorViewModel

<div>
    <div class="workflow-canvas">
        @foreach (var activityShape in Model.ActivityShapes)
        {
            @await DisplayAsync(activityShape)
        } 
    </div>
</div>
<script asp-name="flowsharpeditor" asp-src="~/Flowsharp.Web.ViewComponents/bundle.js" depends-on="jQuery" at="Foot"></script>