<div class="flex flex-1 bg-gray-100 px-4 pt-4">
    <div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-9">
        <section aria-labelledby="payment_details_heading">
            <EditForm EditContext="@EditContext">
                <div class="shadow sm:rounded-md sm:overflow-hidden">
                    <div class="bg-white py-6 px-4 sm:p-6">
                        <div>
                            <h2 id="payment_details_heading" class="text-lg leading-6 font-medium text-gray-900">General</h2>
                            <p class="mt-1 text-sm text-gray-500">General workflow settings.</p>
                        </div>

                        <div class="mt-6 grid grid-cols-4 gap-6">
                            <div class="col-span-4 sm:col-span-2">
                                <label for="workflowName" class="block text-sm font-medium text-gray-700">Name</label>
                                <InputText @bind-Value="@WorkflowDefinition.Name" type="text" id="workflowName" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none sm:text-sm"/>
                                <p class="mt-2 text-sm text-gray-500">
                                    The technical name of the workflow. Use this to programmatically reference your workflows or from other activities.
                                </p>
                            </div>

                            <div class="col-span-4 sm:col-span-2">
                                <label for="workflowDisplayName" class="block text-sm font-medium text-gray-700">Display Name</label>
                                <InputText @bind-Value="WorkflowDefinition.DisplayName" type="text" id="workflowDisplayName" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none sm:text-sm"/>
                                <p class="mt-2 text-sm text-gray-500">
                                    Enter a human-friendly name.
                                </p>
                            </div>

                            <div class="col-span-4 sm:col-span-4">
                                <label for="workflowDescription" class="block text-sm font-medium text-gray-700">Description</label>
                                <InputTextArea @bind-Value="@WorkflowDefinition.Description" id="workflowDescription" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none sm:text-sm"/>
                                <p class="mt-2 text-sm text-gray-500">
                                    Enter a brief description about the function of your workflow.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </EditForm>
        </section>
    </div>
</div>