@tailwind base;
@tailwind components;
@tailwind utilities;

/* Interactivity */
elsa-studio :is(.hidden) {
  @apply tw-hidden;
}

/* Controls */
.elsa-btn {
  @apply tw-inline-flex tw-items-center tw-px-4 tw-py-2 tw-border tw-border-transparent tw-shadow-sm tw-text-sm tw-font-medium tw-rounded-md tw-text-white tw-bg-blue-600 hover:tw-bg-blue-700 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-offset-2 focus:tw-ring-blue-500 tw-mt-2;
}

.elsa-btn.elsa-btn-primary {
  @apply tw-inline-flex tw-items-center tw-px-4 tw-py-2 tw-border tw-border-transparent tw-shadow-sm tw-text-sm tw-font-medium tw-rounded-md tw-text-white tw-bg-blue-600 hover:tw-bg-blue-700 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-offset-2 focus:tw-ring-blue-500 tw-mt-2;
}

.elsa-btn.elsa-btn-secondary {
  @apply tw-bg-white tw-py-2 tw-px-4 tw-border tw-border-gray-300 tw-rounded-md tw-shadow-sm tw-text-sm tw-font-medium tw-text-gray-700 hover:tw-bg-gray-50 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-offset-2 focus:tw-ring-blue-500;
}

.elsa-btn.elsa-btn-action {
  @apply tw-inline-flex tw-items-center tw-px-4 tw-py-2 tw-border tw-border-transparent tw-shadow-sm tw-text-sm tw-font-medium tw-rounded-md tw-text-white tw-bg-green-600 hover:tw-bg-green-700 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-offset-2 focus:tw-ring-green-500 tw-mt-2;
}

.elsa-icon-button {
  @apply tw-h-5 tw-w-5 tw-mx-auto tw-outline-none focus:tw-outline-none;
}

/* Toolbar Menu */
.elsa-toolbar-menu-wrapper a {
  @apply tw-block tw-px-4 tw-py-2 tw-text-sm tw-text-gray-700 hover:tw-bg-gray-100 hover:tw-text-gray-900;
}

/* Activities */
.elsa-toolbar-menu-wrapper {
  min-height: 2rem;
}

/* Panels */
.elsa-panel-collapsed {
  width: 0;
  display: none;
}

.elsa-panel-toggle-left {
  right: -26px;
  top: 50%;
  transform: translateY(-50%);

  @apply tw-absolute tw-py-4 tw-bg-gray-50 tw-border tw-border-gray-400 tw-text-gray-400 tw-rounded-r tw-z-10;
}

.elsa-panel-toggle-top {
  bottom: -42px;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);

  @apply tw-absolute tw-py-4 tw-bg-gray-50 tw-border tw-border-gray-400 tw-text-gray-400 tw-rounded-r tw-z-10;
}

.elsa-panel-toggle-right {
  left: -26px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);

  @apply tw-absolute tw-py-4 tw-bg-gray-50 tw-border tw-border-gray-400 tw-text-gray-400 tw-rounded-r tw-z-10;
}

.elsa-panel-toggle-bottom {
  top: -42px;
  left: 50%;
  transform: translateX(-50%) rotate(270deg);

  @apply tw-absolute tw-py-4 tw-bg-gray-50 tw-border tw-border-gray-400 tw-text-gray-400 tw-rounded-r tw-z-10;
}

/* Forms */
label {
  @apply tw-block tw-text-sm tw-font-medium tw-text-gray-700;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
  @apply tw-shadow-sm focus:tw-ring-blue-500 focus:tw-border-blue-500 tw-block tw-w-full sm:tw-text-sm tw-border-gray-300 tw-rounded-md;
}

input[type="checkbox"] {
  @apply focus:tw-ring-blue-500 tw-h-4 tw-w-4 tw-text-blue-600 tw-border-gray-300 tw-rounded;
}

select {
  @apply tw-mt-1 tw-block focus:tw-ring-blue-500 focus:tw-border-blue-500 tw-w-full tw-shadow-sm sm:tw-text-sm tw-border-gray-300 tw-rounded-md;
}

textarea {
  @apply focus:tw-ring-blue-500 focus:tw-border-blue-500 tw-block tw-w-full tw-min-w-0 tw-rounded-md sm:tw-text-sm tw-border-gray-300;
}

/* Tables */
table {
  @apply tw-min-w-full;

  thead tr {
    @apply tw-border-t tw-border-gray-200;
  }

  thead tr th {
    @apply tw-px-6 tw-py-3 tw-border-b tw-border-gray-200 tw-bg-gray-50 tw-text-xs tw-leading-4 tw-font-medium tw-text-left tw-text-gray-500 tw-uppercase tw-tracking-wider;
  }

  thead tr th.tw-optional, tbody tr td.tw-optional {
    @apply hidden md:tw-table-cell;
  }

  table thead tr th.tw-align-right, tbody tr td.tw-align-right {
    @apply tw-text-right;
  }

  tbody {
    @apply tw-bg-white tw-divide-y tw-divide-gray-100;
  }

  tbody tr td {
    @apply tw-px-6 tw-py-3 tw-text-sm tw-leading-5 tw-text-gray-500 tw-font-medium;
  }

  tbody tr td:first-child {
    @apply tw-px-6 tw-py-3 tw-whitespace-nowrap tw-text-sm tw-leading-5 tw-font-medium tw-text-gray-900;
  }
}

/* Pager */
.elsa-pager-button {
  @apply tw-relative tw-inline-flex tw-items-center tw-px-4 tw-py-2 tw-border tw-border-gray-300 tw-text-sm tw-leading-5 tw-font-medium tw-rounded-md tw-text-gray-700 tw-bg-white hover:tw-text-gray-500 focus:tw-outline-none focus:tw-ring-blue-300 focus:tw-border-blue-300 active:tw-bg-gray-100 active:tw-text-gray-700 tw-transition tw-ease-in-out tw-duration-150;
}

.elsa-pager-button.previous {
  @apply tw-relative;
}

.elsa-pager-button.next {
  @apply tw-ml-3;
}

.elsa-pager-chevron {
  @apply tw-relative tw-inline-flex tw-items-center tw-px-2 tw-py-2 tw-border tw-border-gray-300 tw-bg-white tw-text-sm tw-leading-5 tw-font-medium tw-text-gray-500 hover:tw-text-gray-400 focus:tw-z-10 focus:tw-border-blue-300 focus:tw-ring-blue-300 active:tw-bg-gray-100 active:tw-text-gray-500 tw-transition tw-ease-in-out tw-duration-150;
}

.elsa-pager-chevron.left {
  @apply tw-rounded-l-md;
}

.elsa-pager-chevron.right {
  @apply tw-rounded-r-md -tw-ml-px;
}

html > body {
  min-height: 100vh;
}
