@model ActivityShapeModel<SendEmail>
@{
    var activityDescriptor = Model.Activity.Descriptor;
}
<h4 class="card-title"><i class="far fa-envelope"></i>@activityDescriptor.DisplayText</h4>
<p>@activityDescriptor.Description</p>