@model WorkflowDesignerViewModel
@{
    var serializerSettings = new JsonSerializerSettings { ContractResolver = new CamelCasePropertyNamesContractResolver() };
    var workflowMetadataJson = JsonConvert.SerializeObject(Model.Workflow.Metadata, serializerSettings);
    var connectionsJson = JsonConvert.SerializeObject(Model.Connections, serializerSettings);
}
<div id="flowsharp-workflow-designer">
    <div class="workflow-canvas" 
         data-workflow-metadata="@workflowMetadataJson" 
         data-workflow-status="@Model.Workflow.Status"
         data-workflow-connections="@connectionsJson">
        @foreach (var activityShape in Model.ActivityShapes)
        {
            @await DisplayAsync(activityShape)
        }
        <div class="dropdown-menu context-menu canvas-context-menu">
            <a class="dropdown-item" href="#add-trigger">Add Trigger</a>
            <a class="dropdown-item" href="#add-action">Add Action</a>
            <a class="dropdown-item" href="#export">Export</a>
        </div>
    </div>
</div>

<style asp-name="flowsharp-workflow-editor-style" asp-src="~/Flowsharp.Web.ViewComponents/workflow-designer.css"></style>
<script asp-name="flowsharp-workflow-script" asp-src="~/Flowsharp.Web.ViewComponents/workflow-designer.js" at="Foot"></script>