@model Workflow

<div class="workflow-editor-container" data-workflow-id="@Model.Metadata.Id">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">@T["Edit {0}", Model.Metadata.Name]</h1>
        <div class="btn-toolbar mb-2 mb-md-1">
            <button type="button" class="btn btn-sm btn-primary">Add Activity</button>
            <button type="button" class="btn btn-sm btn-secondary">Save</button>
        </div>
    </div>
    @await Component.InvokeAsync("WorkflowDesigner", new { workflowId = Model.Metadata.Id })
</div>
<script asp-name="flowsharp-workflow-editor-script" asp-src="~/Flowsharp.Web.Management/workflow-editor.js" at="Foot"></script>