@tailwind base;
@tailwind components;
@tailwind utilities;

/* Controls */
.btn {
  @apply inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 mt-2;
}

.icon-button {
  @apply h-5 w-5 mx-auto outline-none focus:outline-none;
}

/* Toolbar Menu */
.toolbar-menu-wrapper a {
  @apply block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900;
}

/* Activities */
.activity-content-wrapper {
  min-height: 2rem;
}

/* Panels */
.panel-collapsed {
  width: 0;
  display: none;
}

.panel-toggle-left {
  right: -26px;
  top: 50%;
  transform: translateY(-50%);

  @apply absolute py-4 bg-gray-50 border border-gray-400 text-gray-400 rounded-r z-10;
}

.panel-toggle-top {
  bottom: -42px;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);

  @apply absolute py-4 bg-gray-50 border border-gray-400 text-gray-400 rounded-r z-10;
}

.panel-toggle-right {
  left: -26px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);

  @apply absolute py-4 bg-gray-50 border border-gray-400 text-gray-400 rounded-r z-10;
}

/* Forms */
label {
  @apply block text-sm font-medium text-gray-700;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
  @apply shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md;
}

input[type="checkbox"] {
  @apply focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300 rounded;
}

select {
  @apply mt-1 block focus:ring-blue-500 focus:border-blue-500 w-full shadow-sm sm:text-sm border-gray-300 rounded-md;
}

textarea {
  @apply focus:ring-blue-500 focus:border-blue-500 block w-full min-w-0 rounded-md sm:text-sm border-gray-300;
}

/* Tables */
table {
  @apply min-w-full;
}

thead tr {
  @apply border-t border-gray-200;
}

thead tr th {
  @apply px-6 py-3 border-b border-gray-200 bg-gray-50 text-xs leading-4 font-medium text-left text-gray-500 uppercase tracking-wider;
}

thead tr th.optional, tbody tr td.optional {
  @apply hidden md:table-cell;
}

table thead tr th.align-right, tbody tr td.align-right {
  @apply text-right;
}

tbody {
  @apply bg-white divide-y divide-gray-100;
}

tbody tr td {
  @apply px-6 py-3 text-sm leading-5 text-gray-500 font-medium;
}

tbody tr td:first-child {
  @apply px-6 py-3 whitespace-nowrap text-sm leading-5 font-medium text-gray-900;
}

/* Pager */
.pager-button {
  @apply relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:ring-blue-300 focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150;
}

.pager-button.previous {
  @apply relative;
}

.pager-button.next {
  @apply ml-3;
}

.pager-chevron {
  @apply relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:border-blue-300 focus:ring-blue-300 active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150;
}

.pager-chevron.left {
  @apply rounded-l-md;
}

.pager-chevron.right {
  @apply rounded-r-md -ml-px;
}
