@import url('../../../node_modules/notyf/notyf.min.css');

.notyf {
    top: 40px;
    right: 0;
    width: 400px;
    min-width: 300px;
    min-height: 300px;
    flex-direction: column;
    color: black;
    left: unset;
    display: block;
}

.notyf-announcer {
    position: relative;
}

.notyf__wrapper {
    padding: 0;
}

.notyf__toast {
    display: block;
    position: relative;
    background-color: white;
    min-width: 20px;
}

.notif {
    .notyf__message {
        @apply text-black
    }
}

.notifications-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 0;
    min-height: 300px;
    min-width: 300px;
    z-index: 30;
}
