@model Elsa.Activities.Primitives.Web.ViewModels.ForkViewModel
<div class="form-group">
    <label asp-for="Forks">@T["Forks"]</label>
    <input asp-for="Forks" class="form-control"/>
    <span asp-validation-for="Forks" class="text-danger"></span>
    <small class="form-text text-muted">@T["A comma-separated list for fork names."]</small>
</div>