<elsa-workflow-toolbar></elsa-workflow-toolbar>
<div class="absolute inset-0" style="top: 64px;">
  <elsa-studio server="@ServerUrl" monaco-lib-path="@MonacoLibPath"></elsa-studio>
</div>

@code{

    [Parameter]
    public string ServerUrl { get; set; } = default!;
    
    [Parameter]
    public string MonacoLibPath { get; set; } = "_content/Elsa.Workflows.Designer/monaco-editor/min";
}