.nav-item {
  margin-left: 1em;
}

wf-designer-host {
  .workflow-designer-wrapper {
    height: 70vh;
  }
}

wf-activity-picker {
  color: #000000;

  i {
    margin-right: 0.5em;
  }

  .badge {
    font-weight: 700;
    line-height: 1;
    color: #000000;
    text-transform: none;
    margin-top: 1em;
  }
}

.activity {
  p {
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 1em;
    margin-top: 1em;
  }
}
