:root {
  --workflow-editor-width: 580px;
  --activity-picker-width: 300px;
  --activity-editor-height: 200px;
}
elsa-flowchart {
  position: absolute;
  left: var(--activity-picker-width);
  top: 0;
  right: var(--workflow-editor-width);
  bottom: var(--activity-editor-height);
}

.elsa-panel-toolbar {
  left: var(--activity-picker-width);
  right: var(--workflow-editor-width);
}

elsa-panel.panel-state-expanded.elsa-activity-picker-container {
  width: var(--activity-picker-width);
}

elsa-panel.panel-state-expanded.elsa-workflow-editor-container {
  width: var(--workflow-editor-width);
  right: 0;
  left: unset;
}

elsa-panel.panel-state-expanded.elsa-activity-editor-container {
  height: var(--activity-editor-height);
  right: var(--workflow-editor-width);
  left: var(--activity-picker-width);
  bottom: 0;
}

.activity-picker-closed {

  .activity-list {
    display: none;
  }

  elsa-flowchart {
    left: 0;
  }
}

.object-editor-closed {

  .object-editor-container {
    display: none;
  }

  elsa-flowchart {
    right: 0;
  }
}


.activity-editor-closed {

  .activity-editor-container {
    display: none;
  }

  elsa-flowchart {
    bottom: 0;
  }
}
