@model ActivityPropertyEditor

@Html.Editor(Model.PropertyInfo.Name)

@* <div class="form-group"> *@
@*     <label>@T[Model.PropertyInfo.Name]</label> *@
@*     <input type="text" value="@Model.PropertyValue" class="form-control"/> *@
@*     <small class="form-text text-muted">@T["A description."]</small> *@
@* </div> *@